#
# Generic HWQUEUE framework
#

# HWQUEUE always gets selected by whoever wants it.
config HWQUEUE
	tristate

menu "Hardware Queue drivers"

config HWQUEUE_TEST
	tristate "Hardware Queue test driver"
	depends on HWQUEUE
	help
	  Say y here to enable test code for the hardware queue subsystem

	  If unsure, say N.

endmenu
