if ARCH_KEYSTONE

config TI_KEYSTONE
	bool

menu "TI KeyStone Implementations"

config KEYSTONE_RECOVERY_KERNEL
	bool "Build recovery kernel"
	default n

config KEYSTONE2_DMA_COHERENT
	bool "MPAX based coherency support"
	default n

endmenu

endif
