/*
 * Copyright 2014 Texas Instruments, Inc.
 *
 * Keystone 2 Galileo EVM device tree
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "k2g.dtsi"

/ {
	compatible =  "ti,k2g-evm","ti,keystone";
	model = "Texas Instruments Keystone 2 Galileo EVM";

	aliases {
		serial0	= &uart0;
/*		gpio0   = &gpio0; */
	};

	soc {
		clocks {
			refclksys: refclksys {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = <123456789>;
				clock-output-names = "refclk-sys";
			};

			refclkddr3a: refclkddr3a {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = <123456789>;
				clock-output-names = "refclk-ddr3a";
			};

			oscaudio: oscaudio {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = <123456789>;
					clock-output-names = "osc-audio";
			};
		};
	};
};

&spi1 {
	nor_flash: n25q128a13@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "Micron,n25q128a13";
		spi-max-frequency = <54000000>;
		m25p,fast-read;
		reg = <0>;

		partition@0 {
			label = "u-boot-spl";
			reg = <0x0 0x80000>;
			read-only;
		};

		partition@1 {
			label = "misc";
			reg = <0x80000 0xf80000>;
		};
	};
};

&i2c0 {
	dtt@50 {
		compatible = "at,24c1024";
		reg = <0x50>;
	};
};

&mdio {
	status = "okay";
	ethphy0: ethernet-phy@0 {
		reg = <0>;
		phy-mode = "rgmii-id";
		/* TODO. Check if anything needed from
		 * Documentation/devicetree/bindings/net/micrel-ksz90x1.txt
		 */
	};
};
