/*
 * Keystone 2 Hawking/Kepler EVM device tree file
 *
 * Copyright (c) 2012-14, Texas Instruments Inc
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 * * Redistributions of source code must retain the above copyright
 *	notice, this list of conditions and the following disclaimer.
 * * Redistributions in binary form must reproduce the above copyright
 *	notice, this list of conditions and the following disclaimer in
 *	the documentation and/or other materials provided with the
 *	distribution.
 * * Neither the name of TI nor the names of its contributors may be
 *	used to endorse or promote products derived from this software
 *	without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS
 * IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
 * TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
 * PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
 * TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
 * PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
 * LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 * NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

/dts-v1/;

/include/ "keystone.dtsi"
/include/ "k2hk.dtsi"

/ {
	compatible = "ti,tci6638-evm";

	aliases {
		ethernet1 = &interface1;
		mdio-gpio0 = <&mdiox0>;
	};

	qostree: qos-tree {
		output-queue = <645>;		/* allowed only on root node */
	};

	qostree2: qos-tree-2 {
		output-queue = <645>;		/* allowed only on root node */
	};

	soc {
		clocks {
			refclkmain: refclkmain {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = <122880000>;
				clock-output-names = "refclk-main";
			};

			refclkpass: refclkpass {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = <122880000>;
				clock-output-names = "refclk-pass";
			};
		};

		aemif@30000000 {
			nand_cs:cs2@30000000 {
				compatible = "ti,davinci-cs";
				#address-cells = <1>;
				#size-cells = <1>;
				/* all timings in nanoseconds */
				ti,davinci-cs-ta = <12>;
				ti,davinci-cs-rhold = <6>;
				ti,davinci-cs-rstrobe = <23>;
				ti,davinci-cs-rsetup = <9>;
				ti,davinci-cs-whold = <8>;
				ti,davinci-cs-wstrobe = <23>;
				ti,davinci-cs-wsetup = <8>;
			};

			nand@2,0 {
				compatible = "ti,davinci-nand";
				reg = <2 0x0 0x8000000
					6 0x0 0x100>;
				#address-cells = <1>;
				#size-cells = <1>;
				ti,davinci-chipselect = <0>;
				ti,davinci-mask-ale = <0x2000>;
				ti,davinci-mask-cle = <0x4000>;
				ti,davinci-mask-chipsel = <0>;
				ti,davinci-ecc-mode = "hw";
				ti,davinci-ecc-bits = <4>;
				ti,davinci-nand-use-bbt;
				ti,davinci-no-subpage-write;
				clocks = <&clkaemif>;
				clock-names = "aemif";

				partition@0 {
					label = "u-boot";
					reg = <0x0 0x100000>;
					read-only;
				};

				partition@100000 {
					label = "params";
					reg = <0x100000 0x80000>;
					read-only;
				};

				partition@180000 {
					label = "ubifs";
					reg = <0x180000 0x1fe80000>;
				};
			};
		};
	};
};
